body {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background: #fefefe;
	box-sizing: border-box;
	overflow-x: hidden;
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
}

label {
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	padding-top: 30px;
	border-radius: 50%;
	border: 7px double #b0b0b0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	font-size: 120%;
	color: #666;
	text-transform: uppercase;
	white-space: nowrap;
	animation: slide-in 1s;
	animation-fill-mode: forwards;
}
label:hover {
	color: #36c;
	border: 7px solid #36c;
	transition: 700ms ease;
}
label:before {
	content: "🠹";
	position: absolute;
	margin-top: -50px;
	font-size: 4.5em;
}
label.hide {
	animation: zoom-out .5s;
	animation-fill-mode: forwards;
}

#retry {
	margin-top: 50px;
	margin-bottom: 100px;
	display: none;
}

#retry a {
	text-decoration: none;
	padding: 8px 15px;
	color: #36c;
	border: 1px solid #36c;
	border-radius: 4px;
}
#retry a:hover {
	background: #36c;
	color: #fff;
	border: 1px solid #36c;
}

.spinner {
	display: none;
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 7px solid #36c;
	animation: girar 2s infinite;
}
.spinner.show {
	animation: girar 2s infinite, zoom-in .3s;
	animation-delay: .5s, 0s;
}

.ball {
	content: " ";
	width: 25px;
	height: 25px;
	background: lightblue;
	display: inline-table;
	border-radius: 50%;
	margin-left: 50%;
	margin-top: 10px;
	animation: bolita 2s infinite;
}

#result {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 50px;
	padding: 10px;
}

#result img {
	width: calc(33% - 15px);
	margin-bottom: 15px;
	margin-right: 15px;
}

@keyframes slide-in {
	0% {
		margin-top: 300%;
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	100% {
		margin-top: 0%;
	}
}

@keyframes girar {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

@keyframes bolita {
	0% {
		background-color: lightblue;
	}

	50% {
		background-color: #36c;
	}

	100% {
		background-color: lightblue;
	}
}

@keyframes zoom-out {
	0% {
		transform: scale(1, 1);
	}

	99% {
		transform: scale(0.3, 0.3);
	}

	100% {
		display: none;
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0.3, 0.3);
	}

	100% {
		transform: scale(1, 1);
	}
}